<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
    <ion-card-header>
      <ion-card-subtitle>Welcome to our News App</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Enjoy the latest news from TechCrunch. 
      </p>
      <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
    </ion-card-content>
  </ion-card>

      <ion-card *ngFor="let article of articles">
        <a href="{{article.link}}" large>
          <ion-img src="{{article.fimg_url}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{article.title.rendered}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div [innerHTML] = "article.excerpt.rendered"></div>
          </ion-card-content>
        </a>
      </ion-card>

</ion-content>
